{% extends "layout.html" %}
{% block title %}Cadastro - Paciente{% endblock %}

{% block content %}
<br>
<form method="POST">
    <h3 align="center">Paciente</h3>

    <div class="form-group">
      <label for="nome">Nome</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        name="nome"
        placeholder="Insira o nome completo"
        required
      />
    </div>

    <div class="form-group">
      <label for="endereco">Endereço</label>
      <input
        type="text"
        class="form-control"
        id="endereco"
        name="endereco"
        placeholder="Insira o endereço"
        required
      />
    </div>

    <div class="container">
      <div class="row">

        <div class="col-sm">
          <label for="rg">RG</label>
          <input
          type="text"
          class="form-control"
          id="rg"
          name="rg"
          placeholder="Insira o RG"
          required
          />
        </div>

        <div class="col-sm">
          <label for="cpf">CPF</label>
          <input
          type="text"
          class="form-control"
          id="cpf"
          name="cpf"
          placeholder="Insira o CPF"
          required
          />
        </div>

        <div class="col-sm">
          <label for="telefone">Telefone</label>
          <input
            type="telefone"
            class="form-control"
            id="telefone"
            name="telefone"
            placeholder="(xx) 9xxxx-xxxx"
            required
          />
        </div>

        <div class="col-sm">
          <label for="email">Email</label>
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            placeholder="Insira um e-mail"
          />
        </div>

          </div>
        </div>
      </div>
    </div>

    <br>
    <hr>
    <div class="container">
      <div class="row">
        
        <div class="col-sm">
          <div class="form-group">
            <label for="data_nascimento">Data de nascimento</label>
            <input type="date" class="form-control" id="data_nascimento" name="data_nascimento" required/>
          </div>
        </div>
        
        <div class="col-sm">
          <div class="form-group">
            <label for="idade">Idade</label>
            <input type="number" class="form-control" id="idade" name="idade" placeholder="Calculo automatico" required disabled />
          </div>
        </div>

        <!-- SCRIPT PARA CALCULAR IDADE -->
        <script>
          function calcularIdade() {
            var data_nascimento = document.getElementById("data_nascimento").value;
            var hoje = new Date();
            var nascimento = new Date(data_nascimento);
            var idade = hoje.getFullYear() - nascimento.getFullYear();
            var meses = hoje.getMonth() - nascimento.getMonth();
            if (meses < 0 || (meses === 0 && hoje.getDate() < nascimento.getDate())) {
              idade--;
            }
            if (idade < 0 || idade > 100 || nascimento.getFullYear() < 1900 || nascimento.getFullYear() > 2300) {
              document.getElementById("idade").value = "";
            } else {
              document.getElementById("idade").value = idade;
              
              var responsavelInput = document.getElementById("responsavel");
              if (idade > 18) {
                responsavelInput.disabled = true;
                responsavelInput.value = ""; // Limpa o valor do campo responsável
              } else {
                responsavelInput.disabled = false;
              }
            }
          }
        
          document.getElementById("data_nascimento").addEventListener("input", calcularIdade);
        </script>
        <!-- SCRIPT PARA CALCULAR IDADE -->

        
        <div class="col-sm">
          <div class="form-group">
            <label for="responsavel">Responsável</label>
            <input
            type="text"
            class="form-control"
            id="responsavel"
            name="responsavel"
            placeholder="Insira o nome do responsável"
            />
        </div>

      </div>
    </div>
  </div>
    
    <hr>
    <div class="container">
      <div class="row">

        <div class="col-sm">
          
          <div class="form-group">
            <label for="medico_solicitante">Médico solicitante</label>
            <input
            type="text"
            class="form-control"
            id="medico_solicitante"
            name="medico_solicitante"
            placeholder="Nome do médico"
            required
            /></div>
          </div>
          
          <div class="col-sm">
            <div class="form-group">
              <label for="crm">CRM</label>
              <input
              type="text"
              class="form-control"
              id="crm"
              name="crm"
              required
              /></div>
          </div>

          <div class="col-sm">
            <div class="form-group">
              <label for="ocupacao">Ocupação/CBO</label>
              <input
              type="text"
              class="form-control"
              id="ocupacao"
              name="ocupacao"
              /></div>
          </div>

      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm">

            <div class="form-group">
              <label for="cid">CID</label>
              <input
                type="text"
                class="form-control"
                id="cid"
                name="cid"
                required
              />
            </div>

        </div>
      </div>
    </div>
    
    
    <hr>
    <br>

    <div class="container">
      <div class="row">
        
        <div class="col-sm">
          <div class="form-group">
            <label for="pagamento">Forma de pagamento:</label>
            <br>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="pagamento" id="pagamento">
              <option selected>Selecione uma opção</option>
              <option value="plano">Plano</option>
              <option value="particular">Particular</option>
            </select>
          </div>
        </div>
        
        <div class="col-sm">
          <div class="form-group">
            <label for="empresa">Empresa:</label>
            <br>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="empresa" id="empresa">
              <option selected>Selecione uma opção</option>
              <option value="amil">Amil</option>
              <option value="bradesco">Bradesco</option>
              <option value="unimed">Unimed</option>
              <option value="gamaSaude">Gama Saúde</option>
              <option value="outro">Outro</option>
            </select>
          </div>
        </div>

        <div class="col-sm">
          <div class="form-group">
            <label for="numero_carteirinha">N. carteirinha</label>
            <input
            type="text"
            class="form-control"
            id="numero_carteirinha"
            name="numero_carteirinha"
            /></div>
        </div>

        <div class="col-sm">
          <div class="form-group">
            <label for="plano">Plano</label>
            <input
            type="text"
            class="form-control"
            id="plano"
            name="plano"
            /></div>
        </div>

      </div>
    </div>
    <hr>
    <br>

    <div class="form-group">
      <label for="anexo">Documento de encaminhamento</label>
      <input type="file" class="form-control-file" id="anexo">
    </div>






    <br />
    <button type="submit" class="btn btn-primary">Cadastrar</button>
    <a href="/paciente-consulta" class="btn btn-primary">Cancelar</a>
</form>
{% endblock %}